<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="container">
                <div class="card mt-3">
                    <div class="card-header">
                        Profile
                    </div>
                    <div class="card-body">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="../../../../assets/photo/4x6.png" id="photo-user-profile" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6 mt-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <div>
                                                <h2>Muhammad Rifqi Dzaky Siara </h2>
                                            </div>
                                            <div>
                                                <h5>SuperAdmin</h5>
                                            </div>
                                            <a routerLink="/profiles/change-password" class="btn btn-primary m-3"> Change
                                                Password</a>
                                            <a routerLink="/profiles/change-photo" class="btn btn-primary m-3"> Change Photo
                                                Profile</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>