<div class="container">
  <div class="card my-5">
    <div class="card-header mb-4">
      List Java Forum
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 text-start mb-3">
          <a routerLink="/studyclass/teacher/detail" class="btn btn-secondary">Back</a>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card">
            <h5 class="card-header">Please Help!</h5>
            <div class="card-body">
              <h6>Created at: 2022-10-30</h6>
              <p class="card-text pt-2">Why is this always an error, sir!
              </p>
              <button type="button" class="button-forum-detail-teacher btn btn-primary" routerLink="/forum/1/detail">
                View Forum
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="card">
            <h5 class="card-header">How to debug, sir?</h5>
            <div class="card-body">
              <h6>Created at: 2022-10-30</h6>
              <p class="card-text pt-2">I want to see the contents of this variable
              </p>
              <button type="button" class="button-forum-detail-teacher btn btn-primary" routerLink="/forum/1/detail">
                View Forum
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="card">
            <h5 class="card-header">I want a follow-up exam</h5>
            <div class="card-body">
              <h6>Created at: 2022-10-30</h6>
              <p class="card-text pt-2">I didn't go last week, can I take a follow-up exam?
              </p>
              <button type="button" class="button-forum-detail-teacher btn btn-primary" routerLink="/forum/1/detail">
                View Forum
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card">
            <h5 class="card-header">I want to ask permission sir</h5>
            <div class="card-body">
              <h6>Created at: 2022-10-30</h6>
              <p class="card-text pt-2">I want permission for the next few days because I have to attend a family event
              </p>
              <button type="button" class="button-forum-detail-teacher btn btn-primary" routerLink="/forum/1/detail">
                View Forum
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card">
            <h5 class="card-header">Infinite loop</h5>
            <div class="card-body">
              <h6>Created at: 2022-10-30</h6>
              <p class="card-text pt-2">Why doesn't this stop, sir?
              </p>
              <button type="button" class="button-forum-detail-teacher btn btn-primary" routerLink="/forum/1/detail">
                View Forum
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
