<div class="container-fluid">
    <div class="row text">
        <div class="col-md-5 offset-md-3">
            <div class="container mt-4">
                <div class="card mt-3">
                    <div class="card-header">
                        Change Photo Profile
                    </div>
                    <div class="card-body">
                        <form>
                            <a  routerLink="/profiles" class="btn btn-outline-secondary mb-3">Back</a>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label for="oldPassword" class="form-label">New Photo <span
                                                class="text-danger">*</span></label>
                                        <input type="file" class="form-control" id="oldPassword" required>
                                    </div>
                                </div>
        
                                <div class="col-md-12">
                                    <button routerLink="/profiles" type="button" class="btn btn-primary" id="button-submit-change-photo-profile">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>