<div class="container">
  <div class="card my-5">
      <div class="card-header">
          Dashboard
      </div>
      <div class="card-body">
          <div class="container text-center">
              <div class="row ">
                  <div class="col-md-6 mt-3">
                      <div class="card">
                          <div class="card-header bg-primary text-white">Users</div>
                          <div class="card-body">
                              <h5 class="card-title">Total Users</h5>
                              <p class="card-text">5</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 mt-3">
                      <div class="card">
                          <div class="card-header bg-primary text-white">Teachers</div>
                          <div class="card-body">
                              <h5 class="card-title">Total Teachers</h5>
                              <p class="card-text">3</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 mt-3">
                      <div class="card">
                          <div class="card-header bg-primary text-white">Students</div>
                          <div class="card-body">
                              <h5 class="card-title">Total Student</h5>
                              <p class="card-text">2</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 mt-3">
                      <div class="card">
                          <div class="card-header bg-primary text-white">Study Class</div>
                          <div class="card-body">
                              <h5 class="card-title">Total Study Class</h5>
                              <p class="card-text">5</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
