
  <div class="container" *ngIf="quizCheck">
    <div class="card my-5">
      <div class="card-header mb-4">
        {{studyClassName}} Quiz
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-start mb-3">
            <a routerLink="/quiz/student/{{studyClassDetailId}}" class="btn btn-secondary">Back</a>
          </div>
          <ng-container *ngFor="let data of attendanceQuizsDto.data">
            <div class="col-lg-4 mb-3">
              <div class="card">
                <h5 class="card-header">{{data.quizName}} </h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 mb-3">
                      <h6 class="card-text pt-2">Start At:</h6>
                      <h6 class="card-text">{{data.startQuiz | date: 'mediumDate'}}</h6>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <h6 class="card-text pt-2">Finish On:</h6>
                      <h6 class="card-text">{{data.finishQuiz | date: 'mediumDate'}}</h6>
                    </div>

                    <ng-container *ngFor="let file of data.fileId; index as i">
                      <div class="col-lg-12 mt-2">
                        <a type="button" class="btn btn-primary" href="{{baseUrl}}/files/download/{{file}}">
                          Download Quiz {{i+1}}
                        </a>
                      </div>
                    </ng-container>
                    <div class="col-lg-12 mt-2">
                      <button type="button" class="btn btn-primary " routerLink="/collection/student/quiz/{{studyClassDetailId}}/{{data.scheduleId}}/collection">
                        Collection Quiz
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="examCheck">
    <div class="card my-5">
      <div class="card-header mb-4">
        {{studyClassName}} Exam
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12 text-start mb-3">
            <a routerLink="/exam/student/{{studyClassDetailId}}" class="btn btn-secondary">Back</a>
          </div>
          <ng-container *ngFor="let data of attendanceExamsDto.data">
            <div class="col-lg-4 mb-3">
              <div class="card">
                <h5 class="card-header">{{data.examName}} </h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6 mb-3">
                      <h6 class="card-text pt-2">Start At:</h6>
                      <h6 class="card-text">{{data.startExam| date: 'mediumDate'}}</h6>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <h6 class="card-text pt-2">Finish On:</h6>
                      <h6 class="card-text">{{data.finishExam| date: 'mediumDate'}}</h6>
                    </div>

                    <ng-container *ngFor="let file of data.fileId; index as i">
                      <div class="col-lg-12 mt-2">
                        <a type="button" class="btn btn-primary" href="{{baseUrl}}/files/download/{{file}}">
                          Download Exam {{i+1}}
                        </a>
                      </div>
                    </ng-container>
                    <div class="col-lg-12 mt-2">
                      <button type="button" class="btn btn-primary" routerLink="/collection/student/exam/{{studyClassDetailId}}/{{data.scheduleId}}/collection">
                        Collection Exam
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

