<div class="container">
  <div class="card my-5">
      <div class="card-header">
          Dashboard
      </div>
      <div class="row">
          <div class="col-md-6 offset-md-3 p-4">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Study Class</h5>
                      <p class="card-text">If you want to see your class you can press the button below.</p>
                      <a  routerLink="/studyclass/teacher/{{idUsers}}" class="card-link btn btn-outline-primary">Study Class</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
