<div class="container">
  <div class="card my-5">
    <div class="card-header mb-4">
      {{studyClassName}} Theory
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12 text-start mb-3">
          <a routerLink="/theory/student/{{studyClassDetailId}}" class="btn btn-secondary">Back</a>
        </div>
        <ng-container *ngFor="let data of attendanceTheorysDto.data">
          <div class="col-lg-4 mb-3">
            <div class="card">
              <h5 class="card-header">{{data.theoryName}} </h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <h6 class="card-text pt-2">Start At:</h6>
                    <h6 class="card-text">{{data.startTheory | date: 'mediumDate'}}</h6>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <h6 class="card-text pt-2">Finish On:</h6>
                    <h6 class="card-text">{{data.finishTheory | date: 'mediumDate'}}</h6>
                  </div>
                  <ng-container *ngFor="let file of data.fileId; index as i">
                    <div class="col-lg-12 mt-2">
                      <a type="button" class="btn btn-primary" href="{{baseUrl}}/files/download/{{file}}">
                        Download Theory {{i+1}}
                      </a>
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Notification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        You're Theory File <a href=""><i class="bi bi-file-earmark-arrow-down"></i>Download File</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
