<div class="container my-5 mb-5">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <div class="card mt-3">
              <div class="card-header">
                  Detail Forum
              </div>
              <div class="card-body">
                  <div>
                      <div class="row">
                          <div class="col-md-6 text-start">
                              <a routerLink = "/forum/student/1" class="btn btn-outline-secondary">Back</a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 mt-3 text-center">
                          <div class="card">
                              <h5 class="card-header">Please Help!</h5>
                              <div class="card-body">
                                  <h6>Created at: 2022-10-30</h6>
                                  <p class="card-text pt-2">Why is this always an error, sir!
                                  </p>
                              </div>
                          </div>
                      </div>

                      <div class="col-8 offset-4 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/student.png" id="photo-profile" alt="student">
                                  Mail
                                  Sampoerna <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                      <p>Please Help! What Happened?</p>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-8 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/teacher.png" id="photo-profile" alt="student"> Mu'man Al Bajra
                                  <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                      <p>Chill Out, Just Restart Your PC</p>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-8 offset-4 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/student.png" id="photo-profile" alt="student">
                                  Mail
                                  Sampoerna <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                      <p>Okay, I try it!</p>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-8 offset-4 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/student.png" id="photo-profile" alt="student">
                                  Mail
                                  Sampoerna <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                      <p>It's Work!</p>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-8 offset-4 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/student.png" id="photo-profile" alt="student">
                                  Mail
                                  Sampoerna <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                      <p>Thanks!</p>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-8 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/teacher.png" id="photo-profile" alt="student"> Mu'man Al Bajra
                                  <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                      <p>Your Welcome!</p>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-8 offset-md-2 mt-3">
                          <div class="card">
                              <div class="card-header">
                                  <img src="../../../../assets/photo/student.png" id="photo-profile" alt="student">
                                  Mail
                                  Sampoerna <sub>2022-10-28T00:00:00</sub>
                              </div>
                              <div class="form-floating">
                                  <form>
                                      <div class="row p-1">
                                          <div class="col-md-12">
                                              <textarea class="form-control" placeholder="Leave a comment here"
                                                  id="fillInTheComment" required></textarea>
                                          </div>
                                          <div class="col-md-6 offset-md-6 my-2 text-end">
                                              <button type="button" class="btn btn-primary"
                                                  id="button-save-comment-student" routerLink = "forum/student/1/detail">Save</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
